body {
    margin: 0;
    background: #222;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #000;
    border: 4px solid #111
}

h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
}

.root {
    text-align: center;
}
